<div class="jumbotron jumbo-home">
  <h1 class="display-3">Jewelry Attributes Prototype</h1>
  <hr class="my-4">
  <p class="lead">Add a new item, or view <%= link_to "all existing items", items_path %></p>
  <p class="lead">
    <%= link_to 'New Item', new_item_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
