<div class="jumbotron">
  <h1 class="display-3">Jewelry Cataloging Prototype</h1>
  <p class="lead">Click the button below to test new attributes.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'New Item', new_item_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
