// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-font {
  font-size: 18px;
}

.item-name {
  font-weight: 300;
  color: #555;
  font-size: 24px;
  border: 0;
  box-shadow: none;
}

.item-name-show {
  font-weight: 300;
  border: 0;
  box-shadow: none;
}

.sub-item-name-show {
  font-weight: 300;
  color: silver;
}

.sub-item-name {
  font-weight: 300;
  color: #555;
  padding-left: 12px;
}

.form-field {
  width: 100%
}

.subtext {
  color: gray;
  margin-top: 8px;
  margin-bottom: -10px;
}

.drop-down {
  width: 50px;
}

.secondary-dropdown {
  margin-top:25px;
  width:150px;
}

label {
    font-weight: normal !important;
}

.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}

.sub-menu-margin {
  margin-top: 15px;
}

.no-label-field {
  margin-top:25px;
}

.tooltip-only {
  margin-top:5px;
}

.small-panel {
  padding-left: 0px;
  margin-left: 20px;
  padding-right: 0px;
  width: 45%;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: .01em;
}

.big-panel {
  padding-left: 0px;
  padding-right: 0px;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: .01em;
}

.wellsm {
  width: 96%;
  margin-left: 12px;
}

.top-panel-margin {
  margin-top: 20px;
}

.weight-field {
  margin-left: -15px;
}

.jumbo-home {
  background:transparent !important;
}

.jewelryattributes {
  margin-top: 25px;
}

.wellbig {
  height:420px !important;
}

.centered {
  text-align: center;
  margin-top: 170px;
}

.item-description {
  font-size: 16px;
}

.item-description {
  font-size: 16px;
  padding-top: 8px;
}

.item-details {
  padding-top: 4px;
}

.new-heading {
  padding-top: 30px;
}
