
<div class="navbar">
  <ul class="nav navbar-nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" <%= link_to "Home", root_path %> </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" <%= link_to "All Items", items_path %> </a>
    </li>
  </ul>
</div>
